<% action_url = @cat.persisted? ? edit_cat_url(@cat) : cats_url %>
<% submit_text = @cat.persisted? ? "Update a Cat!" : "Add a new Cat!" %>

<form action="<%= action_url%>" method="post">
    
    <% if  @cat.persisted?%>
        <input type="hidden" name="_method" value="PATCH">
    <% end %>
    
    <label for="name">Cat Name</label>
    <input type="text" name="cat[name]" id="name" value="<%= @cat.name %>">

    <br><br>

    <label for="cat_color">Cat Color</label>
    <select name="cat[color]" id="cat_color">
        <option disabled selected>--Select a Color--</option>
        
        <% Cat::COLORS.each do |color| %>
            <option value="<%= color %>" <%= @cat.color == color ? "selected" : "" %>>
            <%= color.upcase %>
            </option>
        <% end %>
        
    </select>

    <br><br>

    <label for="birth_date">Birth-Date</label>
    <input type="date" name="cat[birth_date]" id="birth_date" value="<%= @cat.birth_date %>">
    <br><br>

    <label for="cat_description">Cat Description</label>
    <textarea name="cat[description]" id="cat_description">
        <%= @cat.description %>
    </textarea>
    <br><br>


    <label for="male">Male</label>
    <input
        type="radio" 
        name="cat[sex]" 
        id="male" 
        value='M' 
        <%= @cat.sex == "M" ? "checked" : "" %>
        >
    <label for="female">Female</label>
    <input <%= @cat.sex == 'F' ? 'checked' : "" %>
        type="radio" 
        name="cat[sex]" 
        id="female" 
        value='F' >

    <br><br>

    <button type="submit"><%= submit_text %></button>


</form>